<div class="modal-header">
  <h5 class="modal-title">
    Cahier de vie • C°{{ selected_activite?.id_activite }}
  </h5>
  <button type="button" class="btn-close" (click)="activeModal?.close()"></button>
</div>

<div class="modal-body">
  <div class="d-flex justify-content-between align-items-center">
    <div><img src="../../../../assets/images/logo.png" alt="Logo" class="logo mb-4"></div>
    <div>
      <!-- Crèche:{{selected_activite.nom_structure}} -->
      <div>Crèche : {{ selected_activite?.nom_structure }}</div>
      <div>Adresse : {{ selected_activite?.adresse_structure }}</div>
      <div>Téléphone : {{ selected_activite?.telephone_structure }}</div>
      <div>Ninea : {{ selected_activite?.ninea }}</div>

    </div>
  </div>

  <div class="mb-3">
    Date et heure d'arrivée :
    <ng-container *ngIf="formattedArriveeDate as d; else dateOnly">
      {{ d | date:'dd/MM/yyyy à HH:mm' }}
    </ng-container>
    <ng-template #dateOnly>
      {{ selected_activite?.date_activite | date:'dd/MM/yyyy' }}
    </ng-template>
  </div>

  <ng-container *ngFor="let one_rubrique of form">
    <h3 class="mt-4">{{ one_rubrique.titre }}</h3>
    <div class="table-container">
      <div class="table-wrapper">
        <table class="table text-center table-bordered">
          <thead class="header">
            <tr>
              <th>Paramètres</th>
              <th [attr.colspan]="6">Appréciation</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let one_ligne of one_rubrique.lignes; let odd=odd; let even=even">
              <tr class="tr1" [ngClass]="{couleur1: even, couleur2: odd}">
                <th class="frozen-column" *ngIf="!one_ligne.hide" [attr.rowspan]="one_ligne.rowspan || 2">
                  {{ one_ligne.titre }}
                </th>
                <th *ngFor="let one_option of one_ligne.options">{{ one_option.titre }}</th>
              </tr>
              <tr class="tr1" [ngClass]="{couleur1: even, couleur2: odd}">
                <td *ngFor="let one_option of one_ligne.options">
                  <ng-container *ngIf="one_option.type==='text'; else radioTpl">
                    <input class="form-control" type="text" [ngModel]="one_option.value" disabled>
                  </ng-container>
                  <ng-template #radioTpl>
                    <div class="form-check form-switch d-flex p-0">
                      <input class="form-check-input" type="radio" role="switch" [ngModel]="one_ligne.value"
                        [value]="one_option.name" disabled>
                    </div>
                  </ng-template>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-secondary" (click)="activeModal?.close()">Fermer</button>
</div>