<div class="modal-header" data-bs-theme="ligth">
      <h1 class="modal-title fs-5">Ajouter fiche_enfant</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_add_fiche_enfant" 
            (ngSubmit)="onSubmit_add_fiche_enfant()" 
            #form_add_fiche_enfant="ngForm" 
            class="row">
        <!-- Erreur : La clé étrangère id_enfant de la table fiche_enfant n'est pas référencée -->
<!-- Erreur : La clé étrangère id_mensualite_structure de la table fiche_enfant n'est pas référencée -->

            <!-- Champ Abonnement Cantine -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="abonnement_cantine">Abonnement Cantine</label>
              <input id="abonnement_cantine" class="form-control" 
                     type="text" 
                     formControlName="abonnement_cantine" 
                     placeholder="Abonnement Cantine"  
                     [ngClass]="{ 'is-invalid': submitted && f.abonnement_cantine.errors }"/>
              @if (submitted && f.abonnement_cantine.errors) {
                <div class="invalid-feedback">
                  @if (f.abonnement_cantine.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Created At -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="created_at">Created At</label>
              <input id="created_at" class="form-control" 
                     type="text" 
                     formControlName="created_at" 
                     placeholder="Created At"  
                     [ngClass]="{ 'is-invalid': submitted && f.created_at.errors }"/>
              @if (submitted && f.created_at.errors) {
                <div class="invalid-feedback">
                  @if (f.created_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Updated At -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="updated_at">Updated At</label>
              <input id="updated_at" class="form-control" 
                     type="text" 
                     formControlName="updated_at" 
                     placeholder="Updated At"  
                     [ngClass]="{ 'is-invalid': submitted && f.updated_at.errors }"/>
              @if (submitted && f.updated_at.errors) {
                <div class="invalid-feedback">
                  @if (f.updated_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Created By -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="created_by">Created By</label>
              <input id="created_by" class="form-control" 
                     type="text" 
                     formControlName="created_by" 
                     placeholder="Created By"  
                     [ngClass]="{ 'is-invalid': submitted && f.created_by.errors }"/>
              @if (submitted && f.created_by.errors) {
                <div class="invalid-feedback">
                  @if (f.created_by.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Updated By -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="updated_by">Updated By</label>
              <input id="updated_by" class="form-control" 
                     type="text" 
                     formControlName="updated_by" 
                     placeholder="Updated By"  
                     [ngClass]="{ 'is-invalid': submitted && f.updated_by.errors }"/>
              @if (submitted && f.updated_by.errors) {
                <div class="invalid-feedback">
                  @if (f.updated_by.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_fiche_enfant || loading_get_details_add_fiche_enfant_form"
      (click)="form_add_fiche_enfant.ngSubmit.emit()">
      {{ loading_add_fiche_enfant ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>