<div class="modal-header" data-bs-theme="ligth">
      <h1 class="modal-title fs-5">Ajouter structure</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_add_structure" 
            (ngSubmit)="onSubmit_add_structure()" 
            #form_add_structure="ngForm" 
            class="row">
        <!-- Erreur : La clé étrangère id_statut_structure de la table structure n'est pas référencée -->

            <!-- Champ Nom Structure -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="nom_structure">Nom Structure</label>
              <input id="nom_structure" class="form-control" 
                     type="text" 
                     formControlName="nom_structure" 
                     placeholder="Nom Structure"  
                     [ngClass]="{ 'is-invalid': submitted && f.nom_structure.errors }"/>
              @if (submitted && f.nom_structure.errors) {
                <div class="invalid-feedback">
                  @if (f.nom_structure.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Adresse Structure -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="adresse_structure">Adresse Structure</label>
              <input id="adresse_structure" class="form-control" 
                     type="text" 
                     formControlName="adresse_structure" 
                     placeholder="Adresse Structure"  
                     [ngClass]="{ 'is-invalid': submitted && f.adresse_structure.errors }"/>
              @if (submitted && f.adresse_structure.errors) {
                <div class="invalid-feedback">
                  @if (f.adresse_structure.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Telephone Structure -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="telephone_structure">Telephone Structure</label>
              <input id="telephone_structure" class="form-control" 
                     type="text" 
                     formControlName="telephone_structure" 
                     placeholder="Telephone Structure"  
                     [ngClass]="{ 'is-invalid': submitted && f.telephone_structure.errors }"/>
              @if (submitted && f.telephone_structure.errors) {
                <div class="invalid-feedback">
                  @if (f.telephone_structure.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Longitude -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="longitude">Longitude</label>
              <input id="longitude" class="form-control" 
                     type="text" 
                     formControlName="longitude" 
                     placeholder="Longitude"  
                     [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }"/>
              @if (submitted && f.longitude.errors) {
                <div class="invalid-feedback">
                  @if (f.longitude.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Latitude -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="latitude">Latitude</label>
              <input id="latitude" class="form-control" 
                     type="text" 
                     formControlName="latitude" 
                     placeholder="Latitude"  
                     [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }"/>
              @if (submitted && f.latitude.errors) {
                <div class="invalid-feedback">
                  @if (f.latitude.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Logo Structure -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="logo_structure">Logo Structure</label>
              <input id="logo_structure" class="form-control" 
                     type="text" 
                     formControlName="logo_structure" 
                     placeholder="Logo Structure"  
                     [ngClass]="{ 'is-invalid': submitted && f.logo_structure.errors }"/>
              @if (submitted && f.logo_structure.errors) {
                <div class="invalid-feedback">
                  @if (f.logo_structure.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Created At -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="created_at">Created At</label>
              <input id="created_at" class="form-control" 
                     type="text" 
                     formControlName="created_at" 
                     placeholder="Created At"  
                     [ngClass]="{ 'is-invalid': submitted && f.created_at.errors }"/>
              @if (submitted && f.created_at.errors) {
                <div class="invalid-feedback">
                  @if (f.created_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Updated At -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="updated_at">Updated At</label>
              <input id="updated_at" class="form-control" 
                     type="text" 
                     formControlName="updated_at" 
                     placeholder="Updated At"  
                     [ngClass]="{ 'is-invalid': submitted && f.updated_at.errors }"/>
              @if (submitted && f.updated_at.errors) {
                <div class="invalid-feedback">
                  @if (f.updated_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Created By -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="created_by">Created By</label>
              <input id="created_by" class="form-control" 
                     type="text" 
                     formControlName="created_by" 
                     placeholder="Created By"  
                     [ngClass]="{ 'is-invalid': submitted && f.created_by.errors }"/>
              @if (submitted && f.created_by.errors) {
                <div class="invalid-feedback">
                  @if (f.created_by.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Updated By -->
            <div class="form-group col-sm-12">
              <label class="form-label" for="updated_by">Updated By</label>
              <input id="updated_by" class="form-control" 
                     type="text" 
                     formControlName="updated_by" 
                     placeholder="Updated By"  
                     [ngClass]="{ 'is-invalid': submitted && f.updated_by.errors }"/>
              @if (submitted && f.updated_by.errors) {
                <div class="invalid-feedback">
                  @if (f.updated_by.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_structure || loading_get_details_add_structure_form"
      (click)="form_add_structure.ngSubmit.emit()">
      {{ loading_add_structure ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>